.product {
  width: 400px;
  max-width: 600px;
  border: 1px rgb(37, 199, 185) solid;
  padding: 1rem;
  border-radius: 8%;
}
h2 {
  color: rgb(37, 199, 185);
  margin-bottom: 0.5rem;
}

.head {
  display: flex;
  align-items: baseline;
}

.price {
  margin-left: auto;
}

.body {
  background-color: rgba(255, 255, 255, 0.105);
  position: relative;
}

.cta {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 0;
}
